/*天气场景-----------------------------------------------------------------*/
.weatherScenes{
  background-image: url('../assets/common/weatherScenes.jpg');
}
.sunny{
  background-position: -7px -5px;
}
.cloudy{
  background-position: -67px -5px;
}
.shade{
  background-position: -127px -5px;
}
.rain{
  background-position: -7px -66px;
}
.thundershower{
  background-position: -67px -66px;
}
.thundershower-hail{
  background-position: -127px -66px;
}
.rain-hail{
  background-position: -7px -128px;
}
.freezing-rain{
  background-position: -67px -128px;
}
.snow{
  background-position: -127px -128px;
}
.rain-snow{
  background-position: -7px -189px;
}
.fog{
  background-position: -67px -189px;
}
.heat{
  background-position: -127px -189px;
}
.cold{
  background-position: -7px -250px;
}
.gale{
  background-position: -67px -250px;
}
.hail{
  background-position: -127px -250px;
}
.sandstorm{
  background-position: -7px -312px;
}
.haze{
  background-position: -67px -312px;
}
.smoke{
  background-position: -127px -312px;
}
.unknown{
  background-position: -7px -382px;
}

/*交通场景 -67px -70px-----------------------------------------------------------------*/
.roadScenes{
  background-image: url('../assets/common/roadScenes.jpg');
  background-size: 390px!important;
}
.construction{
  background-position: -335px -339px
}
.trafficAccident{
  background-position: -268px -407px
}
/*交通灯场景-----------------------------------------------------------------*/
.lightScenes{
  background-image: url('../assets/common/lightScenes.jpg');
  background-size: 470px!important;
}
.red{
  background-position:-70px -0px;
}
.green{
  background-position: -0px -0px;
}
/*自定义场景-----------------------------------------------------------------*/
.customizeScenes{
  background-image: url('../assets/common/customizeScenes.jpg');
  background-size: 300px!important;
}
.customize1{
  background-position:-30px -189px;
}
.customize2{
  background-position: -30px -189px;
}