$themes:(
  light: (
    baseBg: #374c74,
    success: #67c23a,
    success-plain: #f0f9eb,
    danger: #f56c6c,
    danger-plain: #fef0f0,
    info: #909399,
    info-plain: #f4f4f5,
    primary: #409eff,
    primary-plain: #e8f3fe,
    warning: #e6a23c,
    warning-plain: #fdf6ec
  ),
  dark: (
    baseBg: #374c74,
    success: #67c23a,
    success-plain: #f0f9eb,
    danger: #f56c6c,
    danger-plain: #fef0f0,
    info: #909399,
    info-plain: #f4f4f5,
    primary: #409eff,
    primary-plain: #e8f3fe,
    warning: #e6a23c,
    warning-plain: #fdf6ec
  )
)
