$themes:(
  light: (
    baseBg: #374c74,
    success: #67c23a,
    danger: #f56c6c,
    info: #909399,
    primary: #409eff,
    warning: #e6a23c,
  ),
  dark: (
    baseBg: #374c74,
    success: #67c23a,
    danger: #f56c6c,
    info: #909399,
    primary: #409eff,
    warning: #e6a23c,
  )
)
